/ImportMatrix/bin/src/cephes/*.o
/ImportMatrix/bin/src/cephes/*.d
/ImportMatrix/.nextflow.log*
/ImportMatrix/.nextflow/
/ImportMatrix/bin/CutMatrixByClass
/ImportMatrix/bin/JoinKMers
/ImportMatrix/bin/JoinKmersUltra
/ImportMatrix/bin/NIK
/ImportMatrix/bin/anovaFilter
/ImportMatrix/bin/indexingKmers
/ImportMatrix/bin/src/anovaFilter.d
/ImportMatrix/bin/src/anovaFilter.o
/ImportMatrix/bin/transformIntoBinary
/ImportMatrix/bin/transformIntoBinaryRemoveGroup
/ImportMatrix/bin/transformIntoML
/ImportMatrix/demo_import/
/ImportMatrix/nextflow
/ImportMatrix/nextflow.config
/ImportMatrix/results/
/ImportMatrix/work/
/Demo/*.fastq
/Demo/DemoGeneticAlgResultDir/
/Demo/microRNA_demo.conf
/Gecko/algoGen/Producteurv2/farmer2
/Gecko/algoGen/Producteurv2/farmer2.dSYM/
/Gecko/algoGen/Producteurv2/sampledatamat
/Gecko/algoGen/Producteurv2/sampledatamat.dSYM/
/Gecko/algoGen/Producteurv2/utils/indexBinary
/Gecko/algoGen/Producteurv2/utils/indexBinary.dSYM/
/Gecko/algoGen/Producteurv2/utils/transformIntoBinary
/Gecko/algoGen/Producteurv2/utils/transformIntoBinary.dSYM/
